o{ 
    border: 10px dotted blue;
    outline: none;
}

p{ 
    border: 1px dotted brown;
}

q{ 
    border: 5px dotted green;
    outline: none;
}

v{ 
    border: 1px dotted aqua;
}

m{ 
    border: 4px dotted mediumturquoise;
    outline: none;
}