#gabriel{ 
    color: rgb(228,0,0);
}
#tazo{ 
    color: rgb(0,0,225);
}
#lazare{ 
    color: rgb(0,228,0);

}
#merabi{ 
    color: rgb(5,0,228);
}
#andria{ 
    color:  rgb(228,0,0);
}
#UGO{ 
    color: rgb(0,228,0);
}