t{ 
    background-color: black;
    color: red;
    width: 100px;
    height: 500px;
}
a{ 
    background-color: black;
    color: blue;
    width: 100px;
    height: 500px;
}
z{
    background-color: black;
    color: beige;
    width: 100px;
    height: 500px;
}
o{
    background-color: black;
    color: green;
    width: 100px;
    height: 500px;
}
g{
    background-color: black;
    color: brown;
    width: 100px;
    height: 500px;
}
e{ 
    background-color: black;
    color: darkcyan;
    width: 100px;
    height: 500px;
}
p{ 
    background-color: black;
    color: greenyellow;
    width: 100px;
    height: 500px;
}
r{ 
    background-color: black;
    color: lightsalmon;
    width: 100px;
    height: 500px;
}
b{
    background-color: black;
    color: crimson;
    width: 100px;
    height: 500px;
}
i{ 
    background-color: black;
    color: cornflowerblue;
    width: 100px;
    height: 500px;
}